body{
    text-align: center;
    background-color: khaki;
}
.square{
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 3px solid grey;
    background-color: brown;

}
.x{
    position: relative;
}
.x:after{
 content: '\274C';
 position: absolute;
 top:0;
 left:0;
 bottom: 0;
 right: 0;
 font-size: 100px;
}
.o{
    position: relative;
}
.o:after{
 content: '\26AA';
 position: absolute;
 top:0;
 left:0;
 bottom: 0;
 right: 0;
 font-size: 100px;
}